/*General*/

html, body{
    font-family:'Open Sans', Calibri, sans-serif !important;
    font-size:15px;
    height:100%;
    padding-top:30px;
    color: rgba(0, 5, 75, 1) !important;
}

h2{
    text-transform:uppercase;
    letter-spacing:5px;
    font-size:28px!important;
    margin-bottom:35px;
}

h3{
    color:#AFAFAF !important;
    text-transform:uppercase !important;
    letter-spacing:5px;
    font-size:20px !important;
    font-weight:300;
}

a{
    color:#c6d265 !important;
    cursor:pointer;
}

strong{
    font-weight:900 !important;
}

.anchor:before {
    display: block;
    content: "";
    height: 50px;
    margin: -50px 0 0;
}

.anchor{
    min-height:275px;
    width:100%;
}

/*Navigation*/

.navbar-brand {
    color:#AFAFAF !important;
    font-size:16px;
    text-transform:uppercase;
    font-weight:400;
    letter-spacing:2px;
}

.navbar-brand .subtitle{
    font-size:12px;
    color:#c6d265;
}

.navbar-default{
    background-color:rgba(0, 5, 75, 1)!important;
    border:0 !important;
}

.navbar-default .navbar-toggle {
    border-color:#AFAFAF;
    background-color:rgba(0, 5, 60, 1) !important;
}

.navbar-default .navbar-toggle:hover, .navbar-toggle:active {
    background-color:rgba(0, 5, 60, 1) !important;
    color:#c6d265 !important;
    border-color:#c6d265 !important;
    transition:1s;
}

.navbar-nav a{
    text-transform:uppercase;
    text-decoration:none;
    font-size:13px;
    letter-spacing:1px;
    font-weight:300;
    color:#AFAFAF !important;
    padding:0;
    transition:1s;
}

.navbar-nav a:hover, .navbar-nav{
    color:#c6d265 !important;
}

.active{
    color:#c6d265 !important;
}

/*Resume*/

.resume {
    border:1px;
    border-color:transparent;
    border-radius:15px;
    background-color:#c6d265;
    padding:8px;
    margin: 0 0 20px !important;
}

/*Table*/

table{
    margin-bottom:0 !important;
}

.table-responsive{
    border:0 !important;
}

td{
    width:200px !important;
    border:0 !important;
    padding: 0 8px 8px 0 !important;
}

/*Skills*/

.skills-txt{
    font-size:18px;
    line-height:30px;
}

.fa-star, .fa-star-o{
    color:rgba(0, 5, 75, 1);
}

/*Contact*/

.soc-link .fa{
    color:#c6d265 !important;
    transition:1s;
    cursor: pointer;
    margin-right:3.5px;
}

.contact-form {
  width: 500px !important;
}

.contact-form ul{
    list-style-type:none;
    padding-left:0;
}

.contact-form li{
    margin-bottom:15px;
}

.contact-form label{
    font-size:14px;
    font-weight:300;
}

.contact-form input{
    border:1px solid #AFAFAF !important;
    border-radius:0 !important;
}

.contact-form textarea{
    border:1px solid #AFAFAF !important;
    border-radius:0;
    height:150px !important;
}

.form-control:focus{
    box-shadow:3px 3px 3px #c6d265 !important;
    -moz-box-shadow:3px 3px 3px #c6d265 !important;
    -webkit-box-shadow:3px 3px 3px #c6d265 !important;
}

.btn-primary{
    background-color:#c6d265 !important;
    padding:5px 10px !important;
    color:#FFF !important;
    font-size:13px;
    text-transform:uppercase;
    transition:1s !important;
}

/* .btn-primary:hover, .btn-primary:focus, .btn-primary:active{
    opacity: .5;
} */

/*Footer*/

footer {
    position: relative;
    margin-top:40px;
    bottom:0;
    height:50px;
    width: 100%;
    font-size:13px;
    /* background-color:rgba(0, 5, 75, 1)!important; */
}

footer p {
    color:#AFAFAF;
    text-align: center;
}
